:root {
    --main-bg-color: white;
    --main-fg-color: black;
}

nav,
main,
footer {
    border: 1px solid var(--main-fg-color);
}

nav {
    border-bottom: none;
}

footer {
    border-top: none;
}